<h1><%= current_user.handle %>'s Profile</h1>
<hr />
<div class="image">
  <%= image_tag current_user.bio.avatar.url, class: "ui avatar image" %>
</div>
<div>
    <div>
      <h3><%= current_user.handle %></h3>
    </div>
    <div>
      <h4><%= current_user.bio.description %></h4>
    </div>
</div>
