
<h1><%= @bio.user.handle %>'s Profile</h1>
<hr />
<div class="image">
  <%= image_tag @bio.avatar.url, class: "ui avatar image" %>
</div>
<div class="description">
  <h4><%= @bio.description %></h4>
</div>
<div class="ui unstackable items">
  <% @bio.user.posts.each do |post| %>
     <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>
