<h1>Profile</h1>
<hr />

<div>
    <div>
      <%= @bio.user.handle %>
    </div>
    <div>
      <%= @bio.description %>
    </div>
    <div>
      <% @bio.posts.each do |post| %>
        <p><%= post.content %></p>
      <% end %>
    </div>
</div>
