<div class="ui container">
  <div class="ui centered grid">
    <div class="eight wide column"> 
      <div class="ui header">
        <h1>Timeline</h1>
          <%= render 'form' %>
      </div>
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>