@import "semantic-ui";
@import "posts";

.nav_container{
  margin-bottom: 30px;
}
.header h1, h2, h3, h4, h5{
  text-align: center;
}

.comments_container{
  display: none;
}

.bio_description{
  border: 1px solid black;
  padding: 20px;
}